<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>356465786868-410s21n2d3l00amkeenu9j8m6s356rfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356465786868-410s21n2d3l00amkeenu9j8m6s356rfg</string>
	<key>API_KEY</key>
	<string>AIzaSyCXEVTdn4n0T1DHDnsJkIyntYCZJuX2INU</string>
	<key>GCM_SENDER_ID</key>
	<string>356465786868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.twsweb.Nextcloud</string>
	<key>PROJECT_ID</key>
	<string>itsweb-nextcloud</string>
	<key>STORAGE_BUCKET</key>
	<string>itsweb-nextcloud.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:356465786868:ios:88855ffd7c60aee9</string>
	<key>DATABASE_URL</key>
	<string>https://itsweb-nextcloud.firebaseio.com</string>
</dict>
</plist>